.env
venv
Day1/__pycache__/__init__.cpython-312.pyc
Day1/__pycache__/sortAndSubstract.cpython-312.pyc
Utils/__pycache__/__init__.cpython-312.pyc
Utils/__pycache__/utils.cpython-312.pyc
Day1/__pycache__/sortAndMultiply.cpython-312.pyc
Day2/__pycache__/__init__.cpython-312.pyc
Day2/__pycache__/isSafe.cpython-312.pyc
